@font-face {
   font-family: 'MyFont';
   src:  url('../../public/font/lato-black.ttf') format('ttf');
   font-weight: 600;
   font-style: normal;
}

.hello {
  color:red;
  font-family: 'MyFont';
  background: url('../../public/img/pc_icon.png');
}
